

<app-divider [title]="'Placeholder Component'"></app-divider>
<app-placeholder [header]="false" [lines]="1"></app-placeholder>

<app-divider [title]="'Segment Component'"></app-divider>
<app-segment>
  <div class="segment-text">
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate doloremque quidem quis sapiente velit!
    </p>
  </div>
  <div class="segment-button mt-2">
    <button type="button" class="btn btn-primary btn-lg">click to add ...</button>
  </div>
</app-segment>
<br>

