<div class="card">
  <div class="card-header" *ngIf="header">
    <h5>
      Featured
    </h5>
    <p>
      this is a sample header
    </p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p *appTimes="lines" class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at, consectetur culpa, cum
      doloremque dolores illum incidunt ipsam laborum libero maiores modi nobis non nulla omnis placeat porro quam
      quibusdam quo repellendus repudiandae rerum saepe sunt unde vero. Sed, sint?</p>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at, consectetur culpa, cum
      doloremque dolores illum incidunt ipsam laborum libero maiores modi nobis non nulla omnis placeat porro quam
      quibusdam quo repellendus repudiandae rerum saepe sunt unde vero. Sed, sint?</p>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
