<div *ngIf="header">
  <h5>
    Featured
  </h5>
  <p>
    this is a sample header
  </p>
</div>
<div>
  <h5>Special title treatment</h5>
  <p *appTimes="lines">With supporting text below as a natural lead-in to additional content.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at, consectetur culpa, cum
    doloremque dolores illum incidunt ipsam laborum libero maiores modi nobis non nulla omnis placeat porro quam
    quibusdam quo repellendus repudiandae rerum saepe sunt unde vero. Sed, sint?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at, consectetur culpa, cum
    doloremque dolores illum incidunt ipsam laborum libero maiores modi nobis non nulla omnis placeat porro quam
    quibusdam quo repellendus repudiandae rerum saepe sunt unde vero. Sed, sint?</p>
  <p>With supporting text below as a natural lead-in to additional content.</p>
  <p>With supporting text below as a natural lead-in to additional content.</p>
</div>
